

body {

  background-image: url(../images/grey_wash_wall.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  font-family: 'Koho', sans-serif;

}

.container {

  color: floralwhite;
  text-shadow: 1px 1px black;

}

.mainHead {

  color: coral;
  font-family: 'Federant', cursive;

}

.crystal-image {
  width: 200px;
  height: 200px;
};

.blocked {
  color: firebrick;
}
